.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Chiếm toàn bộ chiều cao màn hình */
}

app-header {
  background-color: #34495e;
  color: white;
  padding: 10px;
}

.chat-body {
  display: flex;
  flex-direction: row;
  flex: 1; /* Chiếm phần còn lại của màn hình */
  overflow: hidden; /* Ngăn scroll toàn bộ trang */
  gap: 10px;
  padding: 10px;
}

app-sidebar {
  background-color: #2c3e50;
  color: white;
  //overflow-y: auto; /* Cho phép cuộn nếu nội dung dài */
}

app-chatwindow {

  flex: 1;
  background-color: #ecf0f1;
  overflow-y: auto; /* Cho phép cuộn nếu nội dung dài */
}

app-message-input {
  //background-color: #5f9fdc;
  padding: 10px;
  position: sticky; /* Cố định ở phía dưới */
  bottom: 0; /* Luôn ở dưới cùng */
  z-index: 100; /* Đảm bảo nằm trên các phần khác */
}
